.btn-cty {
  display: flex;
  padding: 8px 16px;
  border-radius: 12px;
  align-items: center;
  gap: 16px;
  color: rgb(160, 160, 160);
  text-decoration: none;
  transition: .3s;
}

.btn-cty:hover {
  color: white;
  transform: translate(-4px, -4px);
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 4px 4px 0px rgb(20, 20, 20);
  transition: .3s;
}

.icon-modal {
  font-size: 32px;
}

.btn-close-white {
  background-color: transparent;
  font-size: 24px;
  border: 0;
  border-radius: 0.25rem;
  opacity: .5;
  transition: .3s;
}

.btn-close-white:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: .3s;
}
