.illustration .card-link > img.card {
  object-fit: cover;
  width: 100%;
}

/* new css */

.auto-fit-cards {
  --card-min-width: 260px;
  display: grid;
  gap: 8px;
  padding: 8px;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--card-min-width), 100%), 1fr));
}

.auto-fit-cards .card-link {
  position: relative;
  color: inherit;
}

.card-link:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card-link:focus {
  border: none;
  outline: none;
}

.card-link .card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: calc(8px * 2);
  outline: solid 2px white;
  outline-offset: -4px;
  transform: scale(1);
  transition: scale .3s;
  filter: grayscale(1) opacity(.5);
  text-decoration: none;
}

.card-link:hover .card, .card-link:focus .card {
  border-radius: 8px;
  outline-offset: 4px;
  outline-color: white;
  background-color: white;
  transform: scale(.95);
  box-shadow: 0 0 8px 8px rgba(0,0,0,.2);
  transition: .3s;
  filter: unset;
}

.card-link .card h3 {
  opacity: 0;
  color: white;
  font-size: 2.5rem;
  line-break: auto;
  width: 70%;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 0;
  line-height: 1;
  text-shadow: 0 0 8px rgba(0,0,0,.5);
  letter-spacing: .2rem;
  transition: .3s;
}

.card-link:hover .card h3, .card-link:focus .card h3 {
  opacity: 1;
  transition: .3s;
}

@media (max-width: 591px) {
  .card-link .card h3 {
    font-size: 13vw;
  }
}